.images {
    display:flex;
    gap: 15px;
    justify-content: center;
    margin-bottom: 50px;
}

.images img {
    width: 450px;
}

.about {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
}

/* TODO - put individual items at position 2 and 3 */

.text-section {
    grid-column-start: 2;
    grid-column-end:  2;
    align-self: center;
}

.img-section {
    grid-column-start: 3;
    grid-column-end:  3;
}

.about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.about-me p {
    max-width: 50vw;
}

.about-images {
    display:grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 20px;
}

.img1 {
    grid-column-start: 3;
    grid-column-end:  3;
}

