.images {
    display:flex;
    gap: 15px;
    justify-content: center;
    margin-bottom: 50px;
}

.images img {
    width: 450px;
}

.about {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
}

/* TODO - put individual items at position 2 and 3 */