.blog-main {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75vw;
}

.blog-description {
    text-overflow: ellipsis;
    max-width: 19ch;
    display:inline-block;
    white-space: nowrap;
    overflow: hidden;
    min-height: 50px;
}

.blog-description p:not(:first-child) {
    display: none;
}

.blog-title{
    min-height: 70px;
}

.blog {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65vw;
}

.blog h1 {
    text-align: center;
    margin-top: 50px;
}
