:root{
    --primary-color: #002500;
    --secondary-color: #929982;
    --dark: #252525;
    --light: #FFFFFF;
  }

.contact-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-bottom: 100px;
}

.contact-left {
    grid-column-start: 4;
    grid-column-end:  4;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.contact-right {
    grid-column-start: 6;
    grid-column-end:  10;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.phone, .email, .linkedin {
    display: flex;
    align-items: center;
    gap: 5px;
}

.contact-title {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
}

.form-group{
    margin-bottom: 20px;
}

.contact-btn {
    background: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
    transition: 0.5s;
}

.contact-btn:hover{
    background: var(--secondary-color) !important;
    border-color: var(--secondary-color) !important;
}