:root{
    --primary-color: #002500;
    --secondary-color: #929982;
    --dark: #252525;
    --light: #FFFFFF
}

.all_blogs{
    display: none;
}

.bs-image {
    height: 30rem;
}

.about-section {
    min-height: 90vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), transparent),
      url("../images/me.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--light);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Roboto Slab", serif;
  }

.about-section button {
  margin-top: 2rem;
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: white;
  padding: 0.5rem;
  width: 200px;
  transition: 1s;
  border-radius: 25px;
}

.about-section button:hover{
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  color: var(--light);
}

.about-section .info {
  text-shadow: 1px 1px var(--secondary-color);
}

.about-buttons{
  display:flex;
  gap: 1rem;
}
  
.knowledge-images {
  display: grid;
  grid-template-columns:
  repeat(6, 1fr);
  justify-items: stretch;
}

.knowledge-images img {
  max-width: 70px;
  margin-bottom: 20px;
}

.current-work-main, .desired-work-main, .future-work-main {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.current-work-main h1, .desired-work-main h1, .future-work-main h1 {
  margin-top: 15px;
  margin-bottom: 50px;
}
