:root{
    --primary-color: #002500;
    --secondary-color: #929982;
    --dark: #252525;
    --light: #FFFFFF
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    background: var(--light);
  }

.nav-main{
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: space-evenly;
    background: var(--light);
    color: var(--primary-color);
    padding: 1rem;
    margin-bottom: 25px;
    margin-top: 25px;
}


.nav{
    display:flex;
    gap: 2rem;
    text-decoration: none;
}

.nav-item {
    text-decoration: none;
    color: var(--primary-color);
}

.nav-item:hover{
  color: var(--secondary-color);
}